/* MAIN BODY */

#brick-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#container {
    width: var(--width);
    height: var(--height);

    background-color: var(--main-color);

    border-radius: var(--border-radius);
    border: var(--border);

    box-sizing: border-box;
    margin: auto;
    position: relative;

    display: flex;
    flex-direction: column;

    box-shadow:
        calc(var(--width) * -0.03) calc(var(--width) * 0.03) var(--dispersion) black,
        calc(var(--width) * -0.02) calc(var(--width) * 0.02) var(--dispersion) var(--color-shadow-reflexion) inset,
        calc(var(--width) * 0.01) calc(var(--width) * -0.01) var(--dispersion) var(--color-shadow) inset;
}

#brick-game-canvas {
    border: var(--border);
    box-shadow:
        calc(var(--width) * -0.01) calc(var(--width) * 0.01) var(--dispersion) var(--color-shadow),
        calc(var(--width) * 0.01) calc(var(--width) * -0.01) var(--dispersion) var(--color-shadow-reflexion);
}

/* FRAME */

#frame {
    border: var(--border);
    border-radius: var(--border-radius);

    position: relative;

    width: calc(var(--width) * 0.85);
    height: auto;
    aspect-ratio: 9/10;
    margin: 7.5%;
    margin-bottom: 3.75%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#frame div {
    position: absolute;
    top: calc(var(--height) * -0.02);
    left: 27.5%;

    width: 45%;
    height: calc(var(--height) * 0.03);

    background-color: var(--main-color);

    display: flex;
    justify-content: center;

    padding-top: calc(var(--height) * 0.005);
    padding-bottom: 0;
}

#frame p {
    text-align: center;

    font-family: 'retro-gamming';
    font-weight: bold;
    font-size: calc(var(--height) * 0.03);

    text-shadow:
        calc(var(--width) * -0.003) calc(var(--width) * 0.003) 0 var(--color-shadow),
        calc(var(--width) * 0.002) calc(var(--width) * -0.002) 0 var(--color-shadow-reflexion);
}
