#modal-background {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background.hidden {
    display: none;
}

#session-modal {
    width: 80%;
    max-width: 500px;
    height: 44%;
    max-height: 360px;
    min-width: 320px;
    min-height: 280px;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 0;

    background-color: var(--main-color);

    border-radius: var(--border-radius);
    border: var(--border);

    box-shadow:
        calc(var(--width) * -0.03) calc(var(--width) * 0.03) var(--dispersion) black,
        calc(var(--width) * -0.02) calc(var(--width) * 0.02) var(--dispersion) var(--color-shadow-reflexion) inset,
        calc(var(--width) * 0.01) calc(var(--width) * -0.01) var(--dispersion) var(--color-shadow) inset;
}

#session-modal-frame {
    border: var(--border);
    border-radius: var(--border-radius);

    position: relative;

    width: 90%;
    flex: 1;
    margin: 1rem 0;
    min-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#session-modal-frame > p {
    position: absolute;
    top: 0;
    transform: translateY(-50%);

    text-align: center;

    font-family: 'retro-gamming';
    font-weight: bold;
    font-size: clamp(1rem, calc(var(--height) * 0.03), 1.4rem);

    background-color: var(--main-color);
    padding: 0 calc(var(--width) * 0.02);

    text-shadow:
        calc(var(--width) * -0.003) calc(var(--width) * 0.003) 0 var(--color-shadow),
        calc(var(--width) * 0.002) calc(var(--width) * -0.002) 0 var(--color-shadow-reflexion);
}

#session-modal-screen {
    width: 90%;
    height: 80%;

    border: var(--border);
    box-shadow:
        calc(var(--width) * -0.01) calc(var(--width) * 0.01) var(--dispersion) var(--color-shadow),
        calc(var(--width) * 0.01) calc(var(--width) * -0.01) var(--dispersion) var(--color-shadow-reflexion);

    background-image: url('../images/cell.svg');
    background-size: 3.7%;
    background-repeat: repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

#session-modal-screen > p {
    text-align: center;

    font-family: 'retro-gamming';
    font-size: 1.5rem;

    padding: 0 calc(var(--width) * 0.02);
}

#session-modal-screen > p > span {
    font-size: 1.8rem;
    padding: 0 calc(var(--width) * 0.02);
}

#session-modal-buttons {
    width: 100%;
    padding-bottom: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: clamp(1rem, 5vw, 2.5rem);
}

.session-modal-button:active {
    box-shadow:
        calc(var(--width) * -0.005) calc(var(--width) * 0.005) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.004) calc(var(--width) * 0.004) var(--dispersion) var(--button-color-reflexion) inset;
    transform: translate(calc(var(--width) * -0.005), calc(var(--width) * 0.005));
}

.session-modal-button {
    width: 35%;
    max-width: 150px;
    padding: 0.8rem 0;

    border: var(--border);
    border-radius: var(--border-radius);

    background-color: var(--button-color);
    box-shadow:
        calc(var(--width) * -0.015) calc(var(--width) * 0.015) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.0175) calc(var(--width) * 0.0175) var(--dispersion) var(--button-color-reflexion) inset;

    font-family: 'retro-gamming';
    color: white;
    text-align: center;

    user-select: none;

    font-size: 1rem;

    text-shadow:
        calc(var(--width) * -0.003) calc(var(--width) * 0.003) 0 var(--button-color-shadow),
        calc(var(--width) * 0.002) calc(var(--width) * -0.002) 0 var(--button-color-reflexion);

    transition:
        transform var(--button-animation-duration),
        box-shadow var(--button-animation-duration);
}
