#splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.85;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
