@font-face {
    font-family: retro-gamming;
    src: url(./../fonts/digital-7.monoitalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #009ef7;
    background: linear-gradient(300deg, rgb(48, 179, 255) 0%, rgba(0, 158, 247, 1) 100%);
}

#version {
    font-family: 'retro-gamming';
    font-size: 1rem;
    color: white;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100% !important;
        height: 100% !important;

        border-radius: 0px !important;
        border: 0px !important;
        overflow-y: hidden !important;
        touch-action: none !important;
    }

    #session-modal-screen p {
        font-size: 1rem !important;
        line-height: 1.2rem !important;
    }

    #debugger {
        display: none !important;
    }
}
